
  
.backimg{
    background-image:url(https://us.123rf.com/450wm/sayu/sayu1602/sayu160200015/51983954-female-teacher.jpg?ver=6);
    position: relative;
    height: 349px;
    /* background-position: left; */
    left: 0px;
    width: 292px;
    top: -5px;
}
.MainCrd{
    height:auto;
    margin-top: 51px;
}

 .butn1{
    margin: 27px;
    background-color: #FFA500;
 }
 .backclr{
    background-color:#3c1874;
 }

 .butn1:hover{
    transform: scale(1.1);
 }

 .backimg:hover{
    transform: scale(0.9);
 }
  
 .headtxt:hover{
     transform: scale(1.1);
 }